.status-bar{
  display: flex;
  text-align: center;
  justify-content: space-evenly ;
  max-width: 20vw;
  background-color: rgb(226, 226, 226);
  padding: 1% ;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease-in-out 100ms;
  align-items: center;
}


.status-bar:hover{
  scale: 1.05;
  background-color: rgb(214, 214, 214);
}


.status-text{
  user-select: none;
  width: 55%;
  text-align: center;
}

.green-circle, .yellow-circle, .red-circle{

  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.green-circle{
  background-color: green;

}
.yellow-circle{
  background-color: rgb(220, 220, 0);

}
.red-circle{
  background-color: red;

}