#recordings-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: space-around;
}

.recording{
    position: relative;
    border: solid rgb(0, 0, 0);
    height: 200px;
    width: 350px;
    transition: all 200ms;
    
    /* background-color: red; */
}

.recording:hover{
    scale: 1.05;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
 }